/* Your styles goes here. */
html {
  height: 100%;
}

.on-tab-animation {
  margin-left: 15px;
}

.on-tab-animation-text {
  margin-left: 36px;
}

.tab-animation {
  transition: margin-left 0.5s ease-in-out;
}

::selection {
  background-color: #d8e0fb; /* 设置选中背景颜色 */
}
